@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: 0, 0, 0; /* black -> white */
  --bg-bw-rgb: 214, 219, 220; /* white/light grey -> black */
  --bg-purple-rgb: 70, 51, 160; /* purple */
  --txt-purple-rgb: 72, 47, 223; /* purple lite */
  --accent-gold-rgb: 255, 215, 0; /* gold */
  --toggle-gw-rgb: 255, 215, 0; /* gold -> white*/
  --toggle-pw-rgb: 255, 255, 255; /* white -> purple*/
  --ul-bg-rgb: 243, 235, 255; /* purple-ish white */

}

[data-theme="dark"] {
  --fg-rgb: 255, 255, 255;
  --bg-bw-rgb: 0, 0, 0;
  --bg-purple-rgb: 40, 21, 120;
  --txt-purple-rgb: 100, 80, 255;
  --toggle-gw-rgb: 255, 255, 255;
  --toggle-pw-rgb: 100, 80, 255;
  --ul-bg-rgb: 0, 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--fg-rgb));
  background: radial-gradient(ellipse at 20% 50%, rgb(var(--bg-bw-rgb)), rgb(var(--bg-purple-rgb)));
  /* font-family: 'Inter', monospace; */
  font-weight: 300;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 100%;
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

.full-screen-mobile {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem; 
  font-weight: 700; 
  line-height: 1.4; /* Slightly increased line height for readability */
}

strong {
  font-weight: 700;
  color: rgb(var(--txt-purple-rgb));
  text-shadow: 1.5px 1.5px 1px rgb(var(--accent-gold-rgb));
}
p strong {
  text-shadow: 0.6px 0.6px 0px rgb(var(--accent-gold-rgb));
}

button {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  box-shadow: 0px 0px 3px rgba(var(--txt-purple-rgb));
  background: rgb(var(--txt-purple-rgb), 0.7);
  border-radius: 8px;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 9999;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
  background: rgb(var(--txt-purple-rgb));
  box-shadow: 0px 0px 8px rgba(var(--txt-purple-rgb));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0.2rem;
}

nav {
  position: absolute;
  top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: fit-content;
}

a:hover {
  color: rgb(var(--txt-purple-rgb));
}

input {
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
}

textarea {
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
  height: 20vh;
}



ul {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 8px;
  color: rgb(var(--fg-rgb));
  background: rgb(var(--bg-bw-rgb), 0.3);
  box-shadow: 0px 0px 3px rgba(var(--txt-purple-rgb));
  /* background: linear-gradient(90deg, rgb(var(--bg-bw-rgb)), rgb(var(--toggle-gw-rgb))); */
}

iframe {
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(var(--txt-purple-rgb));
  width: 100%;
  height: 100%;
  background-color: white;
}

main {
  padding-top: 1.5rem;
  height: 100%;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  body {
    background: radial-gradient(ellipse at 35% 50%, rgb(var(--bg-bw-rgb)), rgb(var(--bg-purple-rgb)));
  }
  main {
    padding: 3rem 1rem 0rem 1rem;
    overflow: scroll;
  }
}

/* Page Styles */

.left-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 4rem;
  justify-content: center;
}

.left-page.center-page {
  justify-content: center;
}

.left-page.top-page {
  padding-top: 2rem;
  justify-content: flex-start;
  overflow: scroll;
}

.right-page {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  overflow: hidden;
  height: 100%;
  justify-content: center;
}

.resume-page {
  width: 60%;
}

.contact-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0; 
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
}

@media screen and (max-width: 768px) {
  .left-page {
    width: 100%;
    padding-left: 0;
    justify-content: flex-start;
  }

  .left-page.center-page {
    justify-content: flex-start;
    padding-top: 2rem;

  }

  .right-page {
    display: none;
  }
  .only-desktop {
    display: none;
  }
}

/* Component Styles */

.theme-toggle {
  background-color: rgb(var(--bg-purple-rgb));
  color: rgb(var(--toggle-gw-rgb));
  border: rgb(var(--toggle-gw-rgb)) 1px solid;
  font-size: 1.5rem;
  cursor: pointer;
}

.theme-toggle:hover {
  box-shadow: 0px 0px 10px rgb(var(--toggle-color));
}

.silouette {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33vw;
  height: 50vw;
  overflow: hidden;
}

.silouette img {
  object-fit: contain;
  object-position: right bottom;
  /* width: 100%;
  height: 100%; */
}

.project-item {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px rgba(var(--toggle-pw-rgb));
  border-radius: 8px;
  color: rgb(var(--fg-rgb));
  background: rgb(var(--bg-bw-rgb), 0.3);
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  height: fit-content;
  cursor: pointer;
}

.project-img {
  object-fit: contain;
}

.project-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px  rgba(var(--toggle-pw-rgb));
  /* background: rgb(var(--bg-purple-rgb)); */
}

.skill { 
  margin: 0.3rem 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  background-color: rgb(var(--txt-purple-rgb), 0.3);
  color: rgb(var(--fg-rgb));
  flex-wrap: wrap;
  line-height: 1.5;
  width: fit-content;
  height: fit-content;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 3px  rgba(var(--toggle-pw-rgb));
  border-radius: 8px;
  color: rgb(var(--fg-rgb));
  background: rgb(var(--bg-bw-rgb), 0.3);
  /* transition: all 0.2s ease-in-out; */
  width: 24rem;
  height: fit-content;
}

.contact-form .form-section {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  align-self: flex-start;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}


.iframe-outer {
  padding-top: 50%;
  position: relative;
}

.iframe-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(var(--toggle-pw-rgb));
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: top left;
}

.technical-skills {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media screen and (max-width: 768px) {
  .silouette {
    display: none;
  }
  .contact-form {
    width: 99%;
    margin: auto;
  }
  
  .theme-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
  }

  .font-control {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
  }
  .font-control p {
    display: none;
  }
}


/* Other Styling Classes */

.left-border { 
  border-left: 2px solid rgb(var(--txt-purple-rgb));
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bottom-border { 
  border-bottom: 2px solid rgb(var(--txt-purple-rgb));
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 24rem;
}

.top-border { 
  border-top: 2px solid rgb(var(--txt-purple-rgb));
  padding: 0.5rem;
  margin-top: 1.5rem;
  width: 24rem;
}

.p-underline {
  color: rgb(var(--txt-rgb));
  padding-bottom: 0.2rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.p-underline:hover {
  color: rgb(var(--txt-purple-rgb));

}
.p-underline.active {
  border-bottom: 2px solid rgb(var(--txt-purple-rgb));
}

.center-text {
  width: 35rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .project-img {
    display: none;
  }
  .center-text {
    width: 100%;
  }
  .bottom-border {
    width: 100%;
  }
}